
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

@Html.Partial("_ProductModals")

<table id="Products" class="table table-light table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Add dataTable
        $(document).ready(function () {
            $("#Products").DataTable({
                ajax: {
                    url: "api/Products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-warning' id='editProductBtn' edit-Product-id=" + data + ">Edit</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteProductBtn' delete-Product-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //Add new Product
            $("#newProductSubmit").click(function () {

                var formdata = {
                    "name": $("#newProductName").val(),
                    "price": $("#newProductPrice").val()
                };

                $.ajax({
                    url: "api/Products",
                    method: "POST",
                    data: JSON.stringify(formdata),
                    contentType: "application/json;charset=utf-8",
                    processData: true,
                    success: function () {
                        $("#newProductModal").modal("hide");
                        location.reload(true);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            //Delete Product
            $("#Products").on("click", "#deleteProductBtn", function () {

                var ProductId = $(this).attr("delete-Product-id");

                $("#deleteProductModal").modal("show");

                $("#deleteProductSubmit").click(function () {

                    $.ajax({
                        url: "/api/Products/" + ProductId,
                        method: "DELETE",
                        success: function () {
                            $("#deleteProductModal").modal("hide");
                            location.reload(true);
                        }
                    });
                });
            });

            //Edit Product
            $("#Products").on("click", "#editProductBtn", function () {
                var ProductId = $(this).attr("edit-Product-id");

                $("#editProductModal").modal("show");

                $.ajax({
                    url: "api/Products/" + ProductId,
                    method: "GET",
                    success: function (data) {

                        var ProductData = JSON.parse(JSON.stringify(data));
                        $("#ProductName").attr("placeholder", ProductData.name);
                        $("#ProductPrice").attr("placeholder", ProductData.price);

                        $("#editProductSubmit").click(function () {
                            var formdata = {
                                "name": $("#ProductName").val(),
                                "price": $("#ProductPrice").val()
                            };
                            $.ajax({
                                url: "/api/Products/" + ProductId,
                                method: "PUT",
                                data: JSON.stringify(formdata),
                                contentType: "application/json;charset=utf-8",
                                processData: true,
                                success: function () {
                                    $("#editProductModal").modal("hide");
                                    location.reload(true);
                                },
                                error: function (xhr) {
                                    alert(xhr.responseText);
                                }
                            });
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });



            })
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}



