
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales Records</h2>

@Html.Partial("_SalesRecordsModal")

<table id="ProductSolds" class="table table-light table-hover">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Store Name</th>
            <th>Date Sold</th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        //Add dataTable
        $(document).ready(function () {
            $("#ProductSolds").DataTable({
                ajax: {
                    url: "api/salesrecords",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name"
                    },
                    {
                        data: "product.name"
                    },
                    {
                        data: "store.name"
                    },
                    {
                        data: "dateSold",
                        render: function (data) {
                            return moment(data).format("DD/MM/YYYY");
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-warning' id='editProductSoldBtn' edit-ProductSold-id=" + data + ">Edit</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteProductSoldBtn' delete-ProductSold-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //Populate new sales record modal
            $("#addNewProductSoldBtn").click(function () {
                $.ajax({
                    url: "api/customers",
                    method: "GET",
                    success: function (data) {
                        var listCustomers = "<option value=''>Please select a customer</option>"
                        $.each(data, function (key, customer) {
                            listCustomers += "<option value='" + customer.id + "'>" + customer.name + "</option>"
                        });
                        $("#newProductSoldCustomerList").html(listCustomers);
                    }
                });

                $.ajax({
                    url: "api/products",
                    method: "GET",
                    success: function (data) {
                        var listProducts = "<option value=''>Please select a product</option>"
                        $.each(data, function (key, product) {
                            listProducts += "<option value='" + product.id + "'>" + product.name + "</option>"
                        });
                        $("#newProductSoldProductList").html(listProducts);
                    }
                });

                $.ajax({
                    url: "api/stores",
                    method: "GET",
                    success: function (data) {
                        var listStores = "<option value=''>Please select a store</option>"
                        $.each(data, function (key, store) {
                            listStores += "<option value='" + store.id + "'>" + store.name + "</option>"
                        });
                        $("#newProductSoldStoreList").html(listStores);
                    }
                });

                //Add new Sale Record
                $("#newProductSoldSubmit").click(function () {
                    var formdata = {
                        "customerId": $("#newProductSoldCustomerList").val(),
                        "productId": $("#newProductSoldProductList").val(),
                        "storeId": $("#newProductSoldStoreList").val(),
                        "dateSold": $("#newProductSoldDate").val()
                    };
                    $.ajax({
                        url: "api/salesrecords",
                        method: "POST",
                        data: JSON.stringify(formdata),
                        contentType: "application/json;charset=utf-8",
                        processData: true,
                        success: function () {
                            $("#newProductSoldModal").modal("hide");
                            location.reload(true);
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                    });
                });
            });

            //Delete Sales Record
            $("#ProductSolds").on("click", "#deleteProductSoldBtn", function () {

                var ProductSoldId = $(this).attr("delete-ProductSold-id");

                $("#deleteProductSoldModal").modal("show");

                $("#deleteProductSoldSubmit").click(function () {

                    $.ajax({
                        url: "/api/salesrecords/" + ProductSoldId,
                        method: "DELETE",
                        success: function () {
                            $("#deleteProductSoldModal").modal("hide");
                            location.reload(true);
                        }
                    });
                });
            });

            //Edit Sales Record
            $("#ProductSolds").on("click", "#editProductSoldBtn", function () {
                var productSoldId = $(this).attr("edit-ProductSold-id");
               
                $("#editProductSoldModal").modal("show");

                //Populate Sales Record Details with dropdown menus using jQuery getJSON function
                $.ajax({
                    url: "api/salesrecords/" + productSoldId,
                    method: "GET",
                    success: function (data) {
                        var selectedCustomerId = data.customerId;
                        var selectedProductId = data.productId;
                        var selectedStoreId = data.storeId;
                        var listCustomers = "<option value ='" + selectedCustomerId + "'>" + data.customer.name + "</option>";
                        var listProducts = "<option value ='" + selectedProductId + "'>" + data.product.name + "</option>";
                        var listStores = "<option value ='" + selectedStoreId + "'>" + data.store.name + "</option>";

                        $.getJSON("api/customers", function (data) {
                            $.each(data, function (key, customer) {
                                if (customer.id !== selectedCustomerId) {
                                    listCustomers += "<option value='" + customer.id + "'>" + customer.name + "</option>";
                                }
                            });
                            $("#editProductSoldCustomerList").html(listCustomers);
                        });

                        $.getJSON("api/products", function (data) {
                            $.each(data, function (key, product) {
                                if (product.id !== selectedProductId) {
                                    listProducts += "<option value='" + product.id + "'>" + product.name + "</option>";
                                }
                            });
                            $("#editProductSoldProductList").html(listProducts);
                        });

                        $.getJSON("api/stores", function (data) {
                            $.each(data, function (key, store) {
                                if (store.id !== selectedStoreId) {
                                    listStores += "<option value='" + store.id + "'>" + store.name + "</option>";
                                }
                            });
                            $("#editProductSoldStoreList").html(listStores);
                        });

                        $("#editProductSoldDate").attr("placeholder", moment(data.dateSold).format("YYYY-MM-DD"));

                        //Submit Edited Sales Record Form
                        $("#editProductSoldSubmit").click(function () {
                            var formdata = {
                                "customerId": $("#editProductSoldCustomerList").val(),
                                "productId": $("#editProductSoldProductList").val(),
                                "storeId": $("#editProductSoldStoreList").val(),
                                "dateSold": $("#editProductSoldDate").val()
                            };
                            
                            $.ajax({
                                url: "/api/salesrecords/" + productSoldId,
                                method: "PUT",
                                data: JSON.stringify(formdata),
                                contentType: "application/json;charset=utf-8",
                                processData: true,
                                success: function () {
                                    $("#editProductSoldModal").modal("hide");
                                    location.reload(true);
                                },
                                error: function (xhr) {
                                    alert(xhr.responseText);
                                }
                            });
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}






