
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>

@Html.Partial("_StoreModals")

<table id="stores" class="table table-light table-hover">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Address</th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Add dataTable
        $(document).ready(function () {
            $("#stores").DataTable({
                ajax: {
                    url: "api/Stores",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "address"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-warning' id='editStoreBtn' edit-Store-id=" + data + ">Edit</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-danger' id='deleteStoreBtn' delete-Store-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //Add new Store
            $("#newStoreSubmit").click(function () {

                var formdata = {
                    "name": $("#newStoreName").val(),
                    "address": $("#newStoreAddress").val()
                };

                $.ajax({
                    url: "api/stores",
                    method: "POST",
                    data: JSON.stringify(formdata),
                    contentType: "application/json;charset=utf-8",
                    processData: true,
                    success: function () {
                        $("#newStoreModal").modal("hide");
                        location.reload(true);
                    },
                    error: function (xhr) {
                        $("#newStoreName").attr("placeholder", "Please enter name");
                        $("#newStoreAddress").attr("placeholder", "Please enter Address");
                    }
                });
            });

            //Delete Store
            $("#stores").on("click", "#deleteStoreBtn", function () {

                var StoreId = $(this).attr("delete-Store-id");

                $("#deleteStoreModal").modal("show");

                $("#deleteStoreSubmit").click(function () {

                    $.ajax({
                        url: "/api/stores/" + StoreId,
                        method: "DELETE",
                        success: function () {
                            $("#deleteStoreModal").modal("hide");
                            location.reload(true);
                        }
                    });
                });
            });

            //Edit Store
            $("#stores").on("click", "#editStoreBtn", function () {
                var StoreId = $(this).attr("edit-Store-id");

                $("#editStoreModal").modal("show");

                $.ajax({
                    url: "api/stores/" + StoreId,
                    method: "GET",
                    success: function (data) {

                        var storeData = JSON.parse(JSON.stringify(data));
                        $("#storeName").attr("placeholder", storeData.name);
                        $("#storeAddress").attr("placeholder", storeData.address);

                        $("#editStoreSubmit").click(function () {
                            var formdata = {
                                "name": $("#storeName").val(),
                                "address": $("#storeAddress").val()
                            };
                            $.ajax({
                                url: "/api/stores/" + StoreId,
                                method: "PUT",
                                data: JSON.stringify(formdata),
                                contentType: "application/json;charset=utf-8",
                                processData: true,
                                success: function () {
                                    $("#editStoreModal").modal("hide");
                                    location.reload(true);
                                },
                                error: function (xhr) {
                                    $("#storeName").attr("placeholder", "Please enter name");
                                    $("#storeAddress").attr("placeholder", "Please enter Address");
                                }
                            });
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}


